.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.friend-container{
    background-color: blanchedalmond;
    border: 1px solid goldenrod;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}